[Unit]
Description=CoreDNS
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStartPre=/usr/bin/docker pull coredns/coredns:{{ coredns_docker_image_version }}
ExecStart=/usr/bin/docker run \
--name %N \
--init \
--memory={{ coredns_docker_memory }} \
{% if coredns_env_vars | dict2items | length > 0 %}
--env-file=/etc/coredns.env \
{% endif %}
{% if coredns_docker_labels | dict2items | length > 0 %}
--label-file=/etc/coredns.label \
{% endif %}
--mount=type=bind,source={{ coredns_etc_path }},destination=/etc \
--network={{ coredns_docker_network }} \
{% if coredns_docker_network not in ['bridge', 'host', 'none'] %}
--network-alias=coredns \
{% endif %}
{% if coredns_docker_publish_ports | length > 0 %}
{% for port in coredns_docker_publish_ports %}
--publish={{ port }} \
{% endfor %}
{% endif %}
--user=20100:0 \
coredns/coredns:{{ coredns_docker_image_version }} \
-conf /etc/Corefile
ExecStop=/usr/bin/docker stop %N
SyslogIdentifier=%N
TimeoutStartSec=infinity
StartLimitInterval=30
StartLimitBurst=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
