Package: docker-ce
Pin: version 5:{{ docker_version }}~debian.{{ ansible_distribution_major_version }}~{{ ansible_distribution_release }}
Pin-Priority: 1000

Package: docker-ce-cli
Pin: version 5:{{ docker_version }}~debian.{{ ansible_distribution_major_version }}~{{ ansible_distribution_release }}
Pin-Priority: 1000

Package: containerd.io
Pin: version {{ docker_containerd_version }}
Pin-Priority: 1000
