#!/bin/bash
set -e -E -u -C -o pipefail

exec 1> >(logger --tag $(basename $0)) 2>&1

echo "Start Luxtronik statistics backup"

LUXTRONIK_IP="{{ luxtronik_ip_address }}"
BACKUP_DIR="{{ luxtronik_backup_path }}"
BACKUP_FILE="${BACKUP_DIR}/luxtronik-statistics-log-$(date +%Y-%m-%d-%H-%M).dta"

echo "Create backup of Luxtronik statistics"
# Newer firmware: /NewProc
# Older firmware: /proglog
wget \
    --no-verbose \
    --timeout 30 \
    --tries 3 \
    --output-document "${BACKUP_FILE}" \
    "http://${LUXTRONIK_IP}/NewProc"

echo "Compress backup of Luxtronik statistics"
find "${BACKUP_DIR}" -name "*.dta" -type f -exec bzip2 {} \;

echo "Delete Luxtronik backup archives older than 7 days"
find "${BACKUP_DIR}" -name "*.bz2" -type f -mtime +7 -delete

echo "Finish Luxtronik statistics backup"
