[Unit]
Description=Traefik
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStartPre=/usr/bin/docker pull traefik:{{ traefik_docker_image_version }}
ExecStart=/usr/bin/docker run \
--name %N \
--init \
--memory={{ traefik_docker_memory }} \
{% if traefik_env_vars | dict2items | length > 0 %}
--env-file=/etc/traefik.env \
{% endif %}
{% if traefik_docker_labels | dict2items | length > 0 %}
--label-file=/etc/traefik.label \
{% endif %}
--mount=type=bind,source={{ traefik_data_path }},destination=/etc/traefik/acme \
--mount=type=bind,source={{ traefik_etc_path }}/traefik.yml,destination=/etc/traefik/traefik.yml,readonly=true \
--mount=type=bind,source=/var/run/docker.sock,destination=/var/run/docker.sock,readonly=true \
--network={{ traefik_docker_network }} \
{% if traefik_docker_network not in ['bridge', 'host', 'none'] %}
--network-alias=traefik \
{% endif %}
{% if traefik_docker_publish_ports | length > 0 %}
{% for port in traefik_docker_publish_ports %}
--publish={{ port }} \
{% endfor %}
{% endif %}
--user=20000:{{ getent_group.docker[1] | default('root') }} \
traefik:{{ traefik_docker_image_version }}
ExecStop=/usr/bin/docker stop %N
SyslogIdentifier=%N
TimeoutStartSec=infinity
StartLimitInterval=30
StartLimitBurst=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
